body {
	background-color: red;	
	text-align: left;
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
}

h1 {
	text-align: left;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 18px;
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 14px;
}

.stress {
	font-weight: bold;
}

.data {
	text-align: right;
}
